.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  z-index: 100;
}

.modelopen {
  transform: translateY(0);
  opacity: 1;
}

.modelclose {
  transform: translateY(100vh);
  opacity: 0;
}