.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  z-index: 100;
  backface-visibility: hidden;
}

.modalopen {
  transform: translateY(0);
  opacity: 1;
  transition: transform .35s ease-out, opacity .3s ease-out;
}

.modalclose {
  transform: translateY(100vh);
  opacity: 0;
  transition: transform .4s ease-out, opacity .3s ease-out;
}