.photogrid {
  margin: 2.4rem 8rem 0 20rem;
  display: flex;
  flex-direction: row;
  height: 40vh;
  overflow: hidden;
  /* Added for temporary visibility */
  background-color: lightsalmon;
}

.left{
  height: 100%;
  width: 50%;
}

.right{
  display: flex;
  flex-direction: column;
  height: inherit;
  width: 50%;
}

.upperright{
  display: flex;
  flex-direction: row;
  height: 50%;
}

.lowerright{
  display: flex;
  flex-direction: row;
  height: 50%;
}