.photobtn{
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: flex;
  border: 0 none rgba(0, 0, 0, 0);
  overflow: hidden;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
}

.photo{
  height: 100%;
  width: 100%;
  object-fit: cover;
  -webkit-filter: brightness(100%);
}

.photo:hover {
  -webkit-filter: brightness(82%);
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}

.photoitemmid {
  margin-right: 1rem;
}

.photoitemleft {
  height: inherit;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1rem;
}

.photoitemtopright {
  border-top-right-radius: 1rem;
}

.photoitembottomright {
  border-bottom-right-radius: 1rem;
}